start
pushi 0
pushi 0
pushi 5
pushi 5
pushi 5
pushi 5
pushi 5
pushi 5
pushi 5
pushi 5
pushi 5
pushi 5
pushi 5
pushi 5
pushi 5
pushi 5
pushi 5
pushi 5
pushi 5
pushi 5
pushi 5
pushi 5
pushi 6
pushi 6
pushi 6
pushi 6
pushi 6
pushi 6
pushn 10
pushi 0
storel 0
forStart2:
pushl 0
pushi 4
inf
jz forEnd2
pushi 0
storel 1
forStart1:
pushl 1
pushi 5
inf
jz forEnd1
pushfp
pushi 2
padd
pushl 0
pushi 5
mul
pushl 1
add
loadn
writei
pushs " "
writes
pushl 1
pushi 1
add
storel 1
pushl 1
jump forStart1
forEnd1:
pushs "\n"
writes
pushl 0
pushi 1
add
storel 0
pushl 0
jump forStart2
forEnd2:
pushi 0
storel 0
forStart3:
pushl 0
pushi 6
inf
jz forEnd3
pushfp
pushi 22
padd
pushl 0
loadn
writei
pushs " "
writes
pushl 0
pushi 1
add
storel 0
pushl 0
jump forStart3
forEnd3:
stop
