pushi 0
pushi 2
pushi 0
pushi 0
pushn 3
pushn 9
pushn 10
start
pushs "Quantos números deseja ler:\n"
writes
read
atoi
storeg 0
pushs "Insira um número:\n"
writes
read
atoi
storeg 3
pushi 1
storeg 1
whileStart2:
pushg 1
pushg 0
inf
jz whileEnd2
pushs "Insira um número:\n"
writes
read
atoi
storeg 2
pushg 2
pushg 3
inf
jz ifEnd1
pushg 2
storeg 3
ifEnd1:
pushg 1
pushg 1
pushi 1
add
storeg 1
jump whileStart2
whileEnd2:
pushs "Menor número inserido: "
writes
pushg 3
writei
pushs "\n"
writes
stop
