pushi 19
pushn 6
start
pushi 0
pushi 2
pushi 0
pushi 0
pushn 10
pushs "Quantos números deseja ler:\n"
writes
read
atoi
storel 7
pushs "Insira um número:\n"
writes
read
atoi
storel 10
pushi 1
storel 8
whileStart2:
pushl 8
pushl 7
inf
jz whileEnd2
pushs "Insira um número:\n"
writes
read
atoi
storel 9
pushl 9
pushl 10
inf
jz ifEnd1
pushl 9
storel 10
ifEnd1:
pushl 8
pushl 8
pushi 1
add
storel 8
jump whileStart2
whileEnd2:
pushs "Menor número inserido: "
writes
pushl 10
writei
pushs "\n"
writes
pushi 0
pusha func
call
writei
pushs "\n"
writes
pushi 0
pusha fun2
call
writei
pushs "\n"
writes
pushi 0
pusha func
call
writei
pushs "\n"
writes
pushg 0
writei
pushs "\n"
writes
stop
func:
pushn 10
pushgp
pushi 1
padd
pushi 1
pushi 3
mul
pushi 1
add
pushi 25
storen
pushi 3
storel -1
return
pushi 0
storel -1
return
fun2:
pushn 10
pushgp
pushi 1
padd
pushi 1
pushi 3
mul
pushi 1
add
loadn
storel -1
return
pushi 0
storel -1
return
