start
pushi 0
pushi 0
pushi 0
pushn 10
pushs "Introduza número inicial:\n"
writes
read
atoi
storel 0
pushs "Introduza número final:\n"
writes
read
atoi
storel 1
pushi 0
storel 2
forStart2:
pushl 0
pushl 1
infeq
jz forEnd2
pushl 0
pushi 2
mod
pushi 0
equal
not
jz ifEnd1
pushs "Impar: "
writes
pushl 0
writei
pushs "\n"
writes
pushl 2
pushi 1
add
storel 2
pushl 2
ifEnd1:
pushl 0
pushi 1
add
storel 0
pushl 0
jump forStart2
forEnd2:
pushs "Total de números ímpares: "
writes
pushl 2
writei
pushs "\n"
writes
stop
