start
pushi 0
pushi 0
pushi 0
pushi 0
pushn 10
pushs "Quantos números deseja ler:\n"
writes
read
atoi
storel 0
pushs "Insira um número:\n"
writes
read
atoi
storel 3
pushi 1
storel 1
forStart2:
pushl 1
pushl 0
inf
jz forEnd2
pushs "Insira um número:\n"
writes
read
atoi
storel 2
pushl 2
pushl 3
inf
jz ifEnd1
pushl 2
storel 3
ifEnd1:
pushl 1
pushi 1
add
storel 1
jump forStart2
forEnd2:
pushs "Menor número inserido: "
writes
pushl 3
writei
pushs "\n"
writes
stop
