pushi 0
pushi 0
pushi 0
pushi 0
pushn 10
start
pushs "Quantos números deseja ler:\n"
writes
read
atoi
storeg 0
pushs "Insira um número:\n"
writes
read
atoi
storeg 3
pushi 1
storeg 1
forStart3:
pushg 1
pushg 0
inf
jz forEnd3
pushg 1
pushi 3
mod
pushi 0
equal
jz ifEnd1
pushs "MOD\n"
writes
ifEnd1:
pushs "Insira um número:\n"
writes
read
atoi
storeg 2
pushg 2
pushg 3
inf
jz ifEnd2
pushg 2
storeg 3
ifEnd2:
pushg 1
pushi 1
add
storeg 1
jump forStart3
forEnd3:
pushs "Menor número inserido: "
writes
pushg 3
writei
pushs "\n"
writes
stop
