pushi 0
pushi 5
pushi 5
pushi 5
pushi 5
pushi 5
start
pushi 1
pushi 2
pushi 3
pushi 4
pushi 5
pushi 6
pushi 7
pushi 8
pushi 9
pushi 10
pushi 11
pushi 12
pushi 13
pushi 14
pushi 15
pushi 16
pushi 17
pushi 18
pushi 19
pushi 20
pushn 5
pushi 0
pushi 0
pushi 0
pushi 0
pushn 10
pushl 28
pushi 2
add
storel 28
pushl 28
pushi 2
add
pushl 28
writei
pushs "\n"
writes
pushgp
pushi 1
padd
pushi 2
pushi 2
storen
pushfp
pushi 20
padd
pushi 1
loadn
writei
pushs "\n"
writes
pushi 0
pusha func2
call
writei
pushs "\n"
writes
pushi 0
pusha func2
call
storel 25
pushi 0
pusha func2
call
pushi 3
mul
storeg 0
pushl 25
pushg 0
add
writei
pushs "\n"
writes
pushi 0
pusha func1
call
pushi 0
pusha func1
call
writei
pushs "\n"
writes
repeat1:
pushgp
pushi 1
padd
pushl 26
pushl 26
pushi 1
add
storel 26
loadn
writei
pushs " "
writes
pushl 29
pushi 1
add
storel 29
pushl 29
pushi 5
equal
jz repeat1
pushi 0
storel 29
pushs "\n"
writes
pushi 0
storel 26
forStart3:
pushl 26
pushi 4
inf
jz forEnd3
pushi 0
storel 27
forStart2:
pushl 27
pushi 5
inf
jz forEnd2
pushfp
pushi 0
padd
pushl 26
pushi 5
mul
pushl 27
add
loadn
writei
pushs " "
writes
pushl 27
pushi 1
add
storel 27
pushl 27
jump forStart2
forEnd2:
pushs "\n"
writes
pushl 26
pushi 1
add
storel 26
pushl 26
jump forStart3
forEnd3:
pushi 1
pushi 2
equal
jz ifEnd4
ifEnd4:
pushfp
pushi 0
padd
pushi 2
pushi 5
mul
pushi 3
add
loadn
pushfp
pushi 0
padd
pushi 2
pushi 5
mul
pushi 3
add
loadn
equal
writei
pushs "\n"
writes
pushgp
pushi 1
padd
pushi 0
pushi 0
mul
pushi 2
add
loadn
writei
pushs "\n"
writes
pushl 26
pushi 1
add
storel 26
pushl 26
pushl 26
pushl 26
pushi 1
add
storel 26
pushl 26
pushi 1
sub
storel 26
pushl 26
pushl 26
pushl 26
pushi 1
sub
storel 26
pushl 26
pushi 2
add
storel 26
pushl 26
pushl 26
pushl 26
pushi 2
add
storel 26
pushl 26
pushi 2
sub
storel 26
pushl 26
pushl 26
pushl 26
pushi 2
sub
storel 26
pushl 26
pushi 2
mul
storel 26
pushl 26
pushl 26
pushl 26
pushi 2
mul
storel 26
pushl 26
pushi 2
div
storel 26
pushl 26
pushl 26
pushl 26
pushi 2
div
storel 26
stop
func1:
pushs "Supp\n"
writes
pushi 0
storel -1
return
func2:
pushi 3
pushi 3
storel -1
return
pushi 0
storel -1
return
